.success-alert{
    display: flex;
    flex-direction: column;
    width: min-content;
    background-color: #88A7C8;
    color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 20px;
}

.about-caption{
    background-color: #14385E;
    border-radius: 15px;
    padding: 20px;
    font-size: 24px;
    color:white;
}

.about-picture{
    border-radius: 15px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    vertical-align: center;
}