.admin-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.admin-title {
    margin-top: 2vh;
    font-size: 25px;
    color: #14385E;
}

hr{
    color: #14385E;
}

.admin-back{
    width: max-content;
    background-color: #88A7C8;
    color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 20px;
    font-size: 20px;
    margin: 2vh auto 1vh;
    outline: 5px solid #14385E;
}

.admin-btn{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 70px;
    background-color: #3d6690;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
}

.admin-btn:hover {
    color: #3d6690;
    background-color: white;
    cursor: pointer;
}

.admin-select{
    width: 290px;
    height: 40px;
    appearance: none;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    border-color: #14385E;
    outline: none;
}

.admin-form input {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border-color: #14385E;
    outline: none;
}

.admin-form input:focus-visible{
    padding: 10px;
}
