.footer{
    padding-top: 10px;
    padding-bottom: 0;
    background:#14385E;
    color: white;
    text-align: center;
}
#git{
    width: 80px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 0;
}


