body{
    margin: 0;
    font-family: "Lucida Grande", sans-serif;
    background: white;
}

a{
    text-decoration: none;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}

.footer{
    padding-top: 10px;
    padding-bottom: 0;
    background:#14385E;
    color: white;
    text-align: center;
}
#git{
    width: 80px;
    height: 35px;
    cursor: pointer;
    margin-bottom: 0;
}


