main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#logo{
    height: 150px;
    width: 150px;
    padding-bottom: 15px;
}

.form{
    width: 370px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #14385E;
    border-radius: 15px;;
    color: white;
}

.form input{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    border-color: #14385E;
    outline: none;
}

.form input:focus-visible{
    padding: 10px;
}

.form-btn {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px 70px;
    color: #3d6690;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 15px;
}

.form-btn:hover{
    background-color: #3d6690;
    color: white;
    cursor: pointer;
}
