.teacher-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.teacher-title {
    margin-top: 2vh;
    font-size: 25px;
    color: #14385E;
}
hr{
    color: #14385E;
}

.teacher-back{
    width: max-content;
    background-color: #88A7C8;
    color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    vertical-align: center;
    padding: 20px;
    font-size: 20px;
    margin: 2vh auto 1vh;
    outline: 5px solid #14385E;
}

#teacher-about{
    background: #14385E;
    outline: 5px solid #88A7C8;
}