{{ define "about" }}

{{ template "header" }}

<main>
    <div class="about-back">
        <img src="../static/materials/about/logins.png" alt="logins" class="about-picture">
        <label class="about-caption">Атрибуты таблицы, хранящая данные для авторизации пользователей на сайте<br>
            Строка 'status' принимает значения:<br>
            A - администратор<br>
            T - учитель<br>
            S - ученик
        </label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/branch.png" alt="branch" class="about-picture">
        <label class="about_caption">Атрибуты таблицы, хранящей данные об филиалах школы</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/teachers.png" alt="teachers" class="about-picture">
        <label class="about_caption">Атрибуты таблицы, хранящей данные об учителях школы</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/clients.png" alt="clients" class="about-picture">
        <label class="about_caption">Атрибуты таблицы, хранящей данные об учениках школы</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/contract.png" alt="contract" class="about-picture">
        <label class="about_caption">Атрибуты таблицы, хранящей данные о контрактах учеников школы</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/diagram.jpg" alt="diagram" class="about-picture">
        <label class="about_caption">Диаграмма проекта по БД</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/trigger%201.png" alt="trigger" class="about-picture">
        <img src="../static/materials/about/trigger%202.png" alt="trigger" class="about-picture">
        <label class="about_caption">Триггер</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/function.png" alt="function" class="about-picture">
        <label class="about_caption">Функция</label>
    </div>
    <div class="about-back">
        <img src="../static/materials/about/users.png" alt="function" class="about-picture">
        <label class="about_caption">Список пользователей</label>
    </div>
</main>

{{ template "footer" }}

{{ end }}
