<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/admin.css" rel="stylesheet" type="text/css">
    <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a href = "/"><img id="icon-login" alt="icon" src="../static/materials/icon.png"></a>
        <div class="side">
            <div class="right-btn">
                <a href="/">
                    <div class="side-button" id="main">
                        Главная
                    </div>
                </a>
                <a href="/about/">
                    <div class="side-button" id="about">
                        О проекте
                    </div>
                </a>
            </div>
            <div class="right-btn">
                <a href="/cabinet/">
                    <div class="side-button" id="cabinet">
                        Личный кабинет
                    </div>
                </a>
                <form action="/checkOut/">
                    <button class="side-button" id="out" name="out" value="true">
                        Выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="admin-main">
            <div class="admin-title">
                Список контрактов:
                <hr>
            </div>
            {{ range .TableContracts }}
            <div class="admin-back">
                Номер контракта: {{ .Id }} <br>
                Номер клиента: {{ .Client }} <br>
                Номер учителя: {{ .Teacher }} <br>
                Язык: {{ .Language }} <br>
                Количество месяцев: {{ .Quantity }} <br>
                Стоимость: {{ .Price }} <br>
                Дата заключения контракта: {{ .Date }} <br>
                <form action="/editAdmin/" method="get">
                    {{ if eq .Status "Не оплачен" }}
                    <label>Статус договора:
                        <select name="status" class="admin-select">
                            <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                            <option value="Выполнен_{{ .Id }}">Выполнен</option>
                            <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                            <option value="Выполняется_{{ .Id }}">Выполняется</option>
                        </select>
                    </label>
                    {{ end }}
                    {{ if eq .Status "Выполнен" }}
                    <label>Статус договора:
                        <select name="status" class="admin-select">
                            <option value="Выполнен_{{ .Id }}">Выполнен</option>
                            <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                            <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                            <option value="Выполняется_{{ .Id }}">Выполняется</option>
                        </select>
                    </label>
                    {{ end }}
                    {{ if eq .Status "Расторгнут" }}
                    <label>Статус договора:
                        <select name="status" class="admin-select">
                            <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                            <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                            <option value="Выполнен_{{ .Id }}">Выполнен</option>
                            <option value="Выполняется_{{ .Id }}">Выполняется</option>
                        </select>
                    </label>
                    {{ end }}
                    {{ if eq .Status "Выполняется" }}
                    <label>Статус договора:
                        <select name="status" class="admin-select">
                            <option value="Выполняется_{{ .Id }}">Выполняется</option>
                            <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                            <option value="Выполнен_{{ .Id }}">Выполнен</option>
                            <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                        </select>
                    </label>
                    {{ end }}
                    <br>
                    <input type="submit" class="admin-btn" value="Изменить">
                </form>
            </div>
            {{ end }}

            <div class="admin-title">
                Список клиентов:
                <hr>
            </div>
            {{ range .TableClients }}
            <div class="admin-back">
                Номер ученика: {{ .Id }} <br>
                ФИО ученик: {{ .Name }} {{ .Surname }}  {{ .Patronymic }} <br>
                Филиал ученика: {{ .Branch }}
                Телефон ученика: {{ .Phone }}
            </div>
            {{ end }}

            <div class="admin-title">
                Список учителей:
                <hr>
            </div>

            {{ range .TableTeachers }}
            <div class="admin-back">
                Номер учителя: {{ .Id }} <br>
                ФИО учителя: {{ .Name }} {{ .Surname }} {{ .Patronymic }} <br>
                Филиал учителя: {{ .Branch }} <br>
                Язык учителя: {{ .Language }} <br>
                Опыт учителя: {{ .Experience }} <br>
                <form action="/editAdmin/" method="get">
                    <label>Зарплата:
                        <input type="number" name="salary {{ .Id }}" value={{ .Salary }} min="1">
                    </label>
                    <input type="submit" class="admin-btn" value="Изменить">
                </form>
                <br>
            </div>
            {{ end }}
        </div>
    </main>
    <footer class="footer">
        <div>
            © 2022 OCG, Inc. Create by Egor
            <a href="https://github.com/delik4tes">
                <figure><img src="../static/materials/github-logo.svg" id="git" alt="git"></figure>
            </a>
        </div>
    </footer>
</div>
</body>
</html>
