<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/admin.css" rel="stylesheet" type="text/css">
    <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a href = "/"><img id="icon-login" alt="icon" src="../static/materials/icon.png"></a>
        <div class="side">
            <div class="right-btn">
                <a href="/">
                    <div class="side-button" id="main">
                        Главная
                    </div>
                </a>
                <a href="/about/">
                    <div class="side-button" id="about">
                        О проекте
                    </div>
                </a>
            </div>
            <div class="right-btn">
                <a href="/cabinet/">
                    <div class="side-button" id="cabinet">
                        Личный кабинет
                    </div>
                </a>
                <form action="/checkOut/">
                    <button class="side-button" id="out" name="out" value="true">
                        Выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="admin-main">
            {{ range .TableContracts }}
            <div class="admin-back">
                {{ .Id }}
                {{ .Client }}
                {{ .Teacher }}
                {{ .Language }}
                {{ .Quantity }}
                {{ .Price }}
                {{ .Date }}
                <form action="/editAdmin/" method="get" class="">
                    {{ if eq .Status "Не оплачен" }}
                    <select name="status">
                        <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                        <option value="Выполнен_{{ .Id }}">Выполнен</option>
                        <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                        <option value="Выполняется_{{ .Id }}">Выполняется</option>
                    </select>
                    {{ end }}
                    {{ if eq .Status "Выполнен" }}
                    <select name="status">
                        <option value="Выполнен_{{ .Id }}">Выполнен</option>
                        <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                        <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                        <option value="Выполняется_{{ .Id }}">Выполняется</option>
                    </select>
                    {{ end }}
                    {{ if eq .Status "Расторгнут" }}
                    <select name="status">
                        <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                        <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                        <option value="Выполнен_{{ .Id }}">Выполнен</option>
                        <option value="Выполняется_{{ .Id }}">Выполняется</option>
                    </select>
                    {{ end }}
                    {{ if eq .Status "Выполняется" }}
                    <select name="status">
                        <option value="Выполняется_{{ .Id }}">Выполняется</option>
                        <option value="Не оплачен_{{ .Id }}">Не оплачен</option>
                        <option value="Выполнен_{{ .Id }}">Выполнен</option>
                        <option value="Расторгнут_{{ .Id }}">Расторгнут</option>
                    </select>
                    {{ end }}
                    <input type="submit">
                </form>
            </div>
            {{ end }}

            {{ range .TableClients }}
            <div class="admin-back">
                {{ .Id }}
                {{ .Name }}
                {{ .Surname }}
                {{ .Patronymic }}
                {{ .Branch }}
                {{ .Phone }}
            </div>
            {{ end }}

            {{ range .TableTeachers }}
            <div class="admin-back">
                {{ .Id }}
                {{ .Name }}
                {{ .Surname }}
                {{ .Patronymic }}
                {{ .Branch }}
                {{ .Language }}
                <form action="/editAdmin/" method="get" class="">
                    <input type="number" name="salary {{ .Id }}" value={{ .Salary }} min="1">
                    <input type="submit">
                </form>
                {{ .Experience }}
            </div>
            {{ end }}
        </div>
    </main>
    <footer class="footer">
        <div>
            © 2022 OCG, Inc. Create by Egor
            <a href="https://github.com/delik4tes">
                <figure><img src="../static/materials/github-logo.svg" id="git"></figure>
            </a>
        </div>
    </footer>
</div>
</body>
</html>
