{{ define "footer" }}
        <footer class="footer">
            <div>
                © 2022 OCG, Inc. Create by Egor
                <a href="https://github.com/delik4tes">
                    <figure><img src="../static/materials/github-logo.svg" id="git" alt="github"></figure>
                </a>
            </div>
        </footer>
    </div>
    <script src="../static/scripts/dynamic_contract.js"></script>
    <script src="../static/scripts/dynamic_registration.js"></script>
</body>
</html>

{{ end }}