<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href = "main.html"><img id="icon" alt="icon" src="/materials/icon.png"></a>
            <div class="side">
                <a href="main.html">
                    <div class="btn" id = "main">
                        Главная
                    </div>
                </a>
                <div class="right_btn">
                    <a href="cabinet.html">
                        <div class="btn" id ="cab">
                            Личный кабинет
                        </div>
                    </a>
                </div>
            </div>
        </header>
    </div>
</body>
</html>
