{{ define "header" }}

<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="../static/css/about.css" rel="stylesheet" type="text/css">
    <link href="../static/css/contract.css" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/registration.css" rel="stylesheet" type="text/css">
    <link href="../static/css/alert.css" rel="stylesheet" type="text/css">
    <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href = "/"><img id="icon-login" alt="icon" src="../static/materials/icon.png"></a>
            <div class="side">
                <div class="right-btn">
                    <a href="/">
                        <div class="side-button" id="main">
                            Главная
                        </div>
                    </a>
                    <a href="/about/">
                        <div class="side-button" id="about">
                            О проекте
                        </div>
                    </a>
                </div>
                <div class="right-btn">
                    <a href="/cabinet/">
                        <div class="side-button" id="cabinet">
                            Личный кабинет
                        </div>
                    </a>
                    <a href="/checkOut/">
                        <div class="side-button" id="out">
                            Выйти
                        </div>
                    </a>
                </div>
            </div>
        </header>
  {{ end }}
