{{ define "login" }}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a href = "/"><img id="icon-login" alt="icon" src="../static/materials/icon.png"></a>
        <div class="side">
            <div class="right-btn">
                <a href="/">
                    <div class="side-button" id="main">
                        Главная
                    </div>
                </a>
                <a href="/about/">
                    <div class="side-button" id="about">
                        О проекте
                    </div>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="login-main">
            <form action="/success/" method="get" class="login-form">
                <img src="../static/materials/icon.png" id="login-logo" alt="logo">
                <label>
                    <input type="text" name="login" placeholder="Email address">
                </label>
                <label>
                    <input type="password" name="password" placeholder="Your password">
                </label>
                <button class="login-complete">Войти</button>
                © 2022
            </form>
        </div>
    </main>

    {{ template "footer" }}

    {{ end }}