{{ define "login" }}

<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="/static/css/header_new.css" rel="stylesheet" type="text/css">
    <link href="/static/materials/icon.png" rel="icon" type="image/x-icon">
    <link href="/static/css/login.css" rel="stylesheet" type="text/css">
    <link href="/static/css/footer.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a href = "/"><img id="icon" alt="icon" src="/static/materials/icon.png"></a>
        <div class="side">
            <div class="right_btn">
                <a href="/">
                    <div class="btn" id="main">
                        Главная
                    </div>
                </a>
                <a href="/about/">
                    <div class="btn" id="about">
                        О проекте
                    </div>
                </a>
            </div>
        </div>
    </header>
    <main>
        <form action="/success/" cmethod="post" class="form">
            <img src="/static/materials/icon.png" id="logo" alt="logo">
            <input type="text" name="login" placeholder="Email address">
            <input type="password" name="password" placeholder="Your password" value="12345">
            <button class="form-btn">Войти</button>
            © 2022
        </form>
    </main>

    {{ template "footer" }}

    {{ end }}