{{ define "main" }}

{{ template "header" }}

<main>
    <div>
        <a href="contract.html"></a>
        <div class="button_contract">
            Записаться на курс
        </div>
    </div>

    <div class="main_caption">
        Курсы иностранных языков в школе PostgreLanguage
    </div>

    <div class="lang">
        <div class="form">
            <img src="../static/materials/flags/english.png" alt="english" class="flags"><br>
            <label class="caption">Английский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/france.png" alt="france" class="flags"><br>
            <label class="caption">Французский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/germany.png" alt="germany" class="flags"><br>
            <label class="caption">Немецкий язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/china.png" alt="china" class="flags"><br>
            <label class="caption">Китайский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/japan.jpg" alt="japan" class="flags"><br>
            <label class="caption">Японский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/spanish.png" alt="spanish" class="flags"><br>
            <label class="caption">Испанский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/israel.png" alt="israel" class="flags"><br>
            <label class="caption">Иврит</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/india.png" alt="india" class="flags"><br>
            <label class="caption">Хинди</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/kazahstan.jpg" alt="kazahstan" class="flags"><br>
            <label class="caption">Казахский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/chuvashia.png" alt="chuvashia" class="flags"><br>
            <label class="caption">Чувашский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/arabic.png" alt="arabic" class="flags"><br>
            <label class="caption">Арабский язык</label>
        </div>
        <div class="form">
            <img src="../static/materials/flags/turkish.jpg" alt="turkish" class="flags"><br>
            <label class="caption">Турецкий язык</label>
        </div>
    </div>
</main>

{{ template "footer" }}

{{ end }}
