{{ define "main" }}

{{ template "header" }}

<main>
    <div class="main_page">
        <div>
            <a href="/contract/">
                <div class="button-contract">
                    Записаться на курс
                </div>
            </a>
        </div>

        <div class="main-caption">
            Курсы иностранных языков в школе PostgreLanguage
        </div>

        <div class="lang">
            <div class="main-back-flag">
                <img src="../static/materials/flags/english.png" alt="english" class="flag"><br>
                <label class="flag-caption">Английский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/france.png" alt="france" class="flag"><br>
                <label class="flag-caption">Французский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/germany.png" alt="germany" class="flag"><br>
                <label class="flag-caption">Немецкий язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/china.png" alt="china" class="flag"><br>
                <label class="flag-caption">Китайский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/japan.jpg" alt="japan" class="flag"><br>
                <label class="flag-caption">Японский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/spanish.png" alt="spanish" class="flag"><br>
                <label class="flag-caption">Испанский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/israel.png" alt="israel" class="flag"><br>
                <label class="flag-caption">Иврит</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/india.png" alt="india" class="flag"><br>
                <label class="flag-caption">Хинди</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/kazahstan.jpg" alt="kazahstan" class="flag"><br>
                <label class="flag-caption">Казахский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/chuvashia.png" alt="chuvashia" class="flag"><br>
                <label class="flag-caption">Чувашский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/arabic.png" alt="arabic" class="flag"><br>
                <label class="flag-caption">Арабский язык</label>
            </div>
            <div class="main-back-flag">
                <img src="../static/materials/flags/turkish.jpg" alt="turkish" class="flag"><br>
                <label class="flag-caption">Турецкий язык</label>
            </div>
        </div>
    </div>
</main>

{{ template "footer" }}

{{ end }}
