<!DOCTYPE html>
<html lang = "ru">

<head>
    <meta charset="UTF-8">
    <title>PostgresLanguage</title>
    <link href="../static/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <link href="../static/css/teacher.css" rel="stylesheet" type="text/css">
    <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
</head>

<body>
<div class="wrapper">
    <header class="header">
        <a href = "/"><img id="icon-login" alt="icon" src="../static/materials/icon.png"></a>
        <div class="side">
            <div class="right-btn">
                <a href="/">
                    <div class="side-button" id="main">
                        Главная
                    </div>
                </a>
                <a href="/about/">
                    <div class="side-button" id="about">
                        О проекте
                    </div>
                </a>
            </div>
            <div class="right-btn">
                <a href="/cabinet/">
                    <div class="side-button" id="cabinet">
                        Личный кабинет
                    </div>
                </a>
                <form action="/checkOut/">
                    <button class="side-button" id="out" name="out" value="true">
                        Выйти
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="teacher-main">
            <div class="teacher-title">
                Информация учителя:
                <hr>
            </div>
            <div class="teacher-back" id="teacher-about">
                ФИО: {{ .Main.Name }} {{ .Main.Surname }} {{.Main.Patronymic }} <br>
                Адрес учителя: {{ .Main.Branch }} <br>
                Язык: {{ .Main.Language }} <br>
                Зарплата: {{ .Main.Salary }} <br>
                Опыт: {{ .Main.Experience }} <br>
            </div>

            <div class="teacher-title">
                Список учеников:
                <hr>
            </div>

            {{ range .ContractsAndClients }}
            <div class="teacher-back">
                Номер контракта: {{ .Id }} <br>
                ФИО Ученика: {{ .Name }} {{ .Surname }} {{ .Patronymic }} <br>
                Язык преподавания: {{ .Language }} <br>
                Телефон ученика: {{ .Phone }} <br>
                Отделение: {{ .Branch }} <br>
                Дата заключения: {{ .Date }} <br>
                Статус контракта: {{ .Status }} <br>
            </div>
            {{ end }}
        </div>
    </main>
    <footer class="footer">
        <div>
            © 2022 OCG, Inc. Create by Egor
            <a href="https://github.com/delik4tes">
                <figure><img src="../static/materials/github-logo.svg" id="git" alt="git"></figure>
            </a>
        </div>
    </footer>
</div>
</body>
</html>
