<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <select>
        <option> Не оплачен </option>
        <option selected="selected"> Оплачен </option>
        <option> Выполняется </option>
    </select>

    <select>
        <option value="" selected disabled hidden>Choose here</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
    </select>
</form>
</body>
</html>