<!DOCTYPE html>
<html lang = "ru">
<head>
  <meta charset="UTF-8">
  <title>PostgresLanguage</title>
  <link href="../static/materials/icon.png" rel="icon" type="image/x-icon">
  <link href="../static/css/hello_page.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
  <header class="header">
    <a href = "/"><img id="icon" alt="icon" src="../static/materials/icon.png"></a>
    <div class="side">
      <a href="/">
        <div class="btn" id = "main">
          Главная
        </div>
      </a>
      <div class="right_btn">
        <a href="login.html">
          <div class="btn" id="login">
            Войти
          </div>
        </a>
        <a href="registration.html">
          <div class="btn" id ="reg">
            Регистрация
          </div>
        </a>
      </div>
    </div>
  </header>
  <main>
    <div>
      <a href="contract.html"></a>
      <div class="button_contract">
        Записаться на курс
      </div>
    </div>

    <div class="main_caption">
      Курсы иностранных языков в школе PostgreLanguage
    </div>

    <div class="lang" id="lang">
      <div class="form">
        <img src="../static/materials/flags/english.png" alt="english" class="flags"><br>
        <label class="caption">Английский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/france.png" alt="france" class="flags"><br>
        <label class="caption">Французский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/germany.png" alt="germany" class="flags"><br>
        <label class="caption">Немецкий язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/china.png" alt="china" class="flags"><br>
        <label class="caption">Китайский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/japan.jpg" alt="japan" class="flags"><br>
        <label class="caption">Японский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/spanish.png" alt="spanish" class="flags"><br>
        <label class="caption">Испанский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/israel.png" alt="israel" class="flags"><br>
        <label class="caption">Иврит</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/india.png" alt="india" class="flags"><br>
        <label class="caption">Хинди</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/kazahstan.jpg" alt="kazahstan" class="flags"><br>
        <label class="caption">Казахский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/chuvashia.png" alt="chuvashia" class="flags"><br>
        <label class="caption">Чувашский язык</label>
      </div>
      <div class="form">
        <img src="../static/materials/flags/arabic.png" alt="arabic" class="flags"><br>
        <label class="caption">Арабский язык</label>
      </div>
      <div class="form" id="qwer">
        <img src="../static/materials/flags/turkish.jpg" alt="turkish" class="flags"><br>
        <label class="caption">Турецкий язык</label>
      </div>
    </div>
  </main>
  <script src="../static/scripts/price.js"></script>
  <footer class="footer">
    <div>
      © 2022 OCG, Inc. Create by Egor
      <a href="https://github.com/delik4tes">
        <figure><img src="../static/materials/GitHub-Logo.svg" id="git" alt="git"></figure>
      </a>
    </div>
  </footer>
  <script>
    function aa(){
      let a=document.createElement("div");
      a.innerHTML='<img src="../static/materials/flags/chuvashia.png" alt="chuvashia" class="flags"><br>\n' +
              '        <label class="caption">Чувашский язык</label>';
      a.classList.add("form");
      let b = document.getElementById("lang");
      b.appendChild(a);
    }
    let c=document.getElementById("qwer");
    c.onmouseenter=aa;
  </script>
</div>
</body>
</html>